body {
  background: blanchedalmond;
}

* {
  border: 1px solid teal;
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  flex-grow: 1;
  margin: 30px;
}

.b {
  flex-grow: 5;
  margin: 30px
}

.c {
  flex-grow: 1;
  margin: 30px;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100vw;
  }
  .b {
    width: 70vw;
  }
  .c {
    width: 20vw;
  }
}